- var GoogleFonts = 'Lato:300,400,700,300italic,400italic'

- var jQuery = true

- var PageTitle = 'Transformation Sound UK - Sound Proofing London'

- var MetaDesc = 'Transform Sound UK provides Sound Proofing in Cardiff, South Wales and the UK.  Want the best quote? Contact us today!'

//- var BodyClasses = ['bodyclass_one', 'bodyclass_two']