- var GoogleFonts = 'Lato:300,400,700,300italic,400italic'

- var jQuery = true

- var PageTitle = 'Title'

- var MetaDesc = 'Meta Descriptions'

//- var BodyClasses = ['bodyclass_one', 'bodyclass_two']