extend docwrapper
block content
	//- Variable used in text via interpolation
	h1 #{PageTitle}

	p If you’re not using Jade, you’re missing out on some of the fastest HTML you’ll ever produce as well as boilerplate templating methods that will slash your development time in half.
    
